# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
/setup/mongodb/data/
/setup/rabbitmq/data/
/setup/rabbitmq/logs/
/setup/minio-persistence/

# Eclipse
**/*.project
**/*.classpath
**/*.settings